<div ng-controller="productsCtrl as pc">
    <div class="row">
       <div class="col-md-3">
            <input class="form-control" placeholder="Search"
                   ng-model="pc.genericSearch">
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th><a href="#" ng-click="pc.orderByPrice()">Price <i class="glyphicon glyphicon-sort"></i></a></th>
                        <th><a href="#" ng-click="pc.showMore()">Show More</a></th>
                    </tr>
                </thead>
                <tr ng-repeat="item in pc.products |filter:{Model:pc.genericSearch}
                               |orderBy:pc.orderByCrietria
                               |limitTo:pc.minimumProducts">
                    <td>
                        {{item.index}}
                    </td>
                    <td>
                        {{item.Model}}
                    </td>
                    <td>
                        {{item.Description}}
                    </td>
                    <td>
                        {{item.Price|currency :"Rs."}}
                    </td>
                    <td>
                        <button class="btn btn-warning">Add To cart</button>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
